:root {
    --card-color: #b63018;
    --baseboard-color: #91271b;
    --text-color: #fef5ee;
    --text-color-input:#91271b; 
    --emphasis-color: #f9cdaf;
    --link-color: #ef7c48;
    --link-color-hover: #ea5a25;

    --font-title: "montserrat", sans-serif;
    --font-tag: "inter", sans-serif;
    --font-description: "inter", sans-serif;
    --font-link: "montsserat", sans-serif;
    --font-baseboard: "montsserat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-image: url(/assets/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;

    .card_content {
        padding: 15px 30px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        background-color: var(--card-color);

        .card_content_title{
            font-family: var(--font-title);
            font-style: normal;
            font-weight: 700;
            font-size: 1.5rem;
            color: var(--text-color);
            text-align: center;
            margin-top: 5px;
    
            .card_content_title_emphasis {
                color: var(--emphasis-color);
            }
        }
    
        .card_content_form {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .card_content_form_tag {
                font-family: var(--font-tag);
                font-style: normal;
                font-weight: 400;
                font-size: 0.875rem;
                color: var(--text-color);
                margin-top: 15px;
            }
            
            .card_content_form_input {
                font-family: var(--font-description);
                font-style: normal;
                font-weight: 400;
                font-size: 0.75rem;
                color: var(--text-color-input);
            
                padding: 10px;
                border-radius: 8px;
                border: none;
                background-color: var(--text-color);

                .card_content_form_input:focus {
                    outline: 3px solid var(--emphasis-color);
                }
            }

            .card_content_form_button {
                font-family: var(--font-tag);
                font-style: normal;
                font-weight: 700;
                font-size: 0.875rem;
                color: var(--text-color);
                background-color: var(--link-color);
                cursor: pointer;
                margin-top: 15px;
                border-radius: 8px;
                border: none;
                outline: none;
                padding: 8px;
            }
        }
    } 
}

.baseboard {
    font-family: var(--font-baseboard);
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    text-align: center;
    color: var(--text-color);
    padding: 8px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: var(--baseboard-color);
}

/*Responsividade Monitores*/
@media (width >= 1600px) {
    .card {
        width: 15%;
    }
}

/*Responsividade dispositivos menores*/
@media (width <= 1200px) {
    .card {
        width: auto;
    }
}

/*Responsividade dispositivos pequenos*/
@media (width <= 300px) {
    .card {
        width: 80%;
    }
}